<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
        default-autowire="byName">

    <!-- 数据源配置,使用JDBC连接池 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--<property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3306/app_superstudent?zeroDateTimeBehavior=convertToNull"/>
        <property name="username" value="lkm235lj3y"/>
        <property name="password" value="4jiw243hzxihhzijhwlymxk1yhmmh04xixyz325x"/>-->
        <property name="url" value="jdbc:mysql://localhost:3306/app_superstudent?zeroDateTimeBehavior=convertToNull"/>
        <property name="username" value="root"/>
        <property name="password" value="syj2015"/>
        <property name="maxActive" value="50"/>
        <property name="maxIdle" value="30"/>
        <property name="minIdle" value="20"/>
        <property name="defaultAutoCommit" value="false"/>
        <!-- 连接Idle10分钟后超时，每1分钟检查一次 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="600000"/>
    </bean>

    <!-- MyBatis配置 - MySQL -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:sqlMapConfig.xml" />
        <!-- 制定映射器路径 -->
        <property name="mapperLocations" value="classpath:mybatismapper/*.xml" />
    </bean>

    <!--sqlSessionTemplate-->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

     <!--扫描basePackage下所有以@Repository标识的 接口 -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.superstudent.dao" />
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
        <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>